<a href="products/paymentInformation" class="back-arrow"><i class="fas fa-arrow-left"></i></a>
<mat-card>
    <div class="content-container">
        <div class="message-container">
            <mat-card-header>
                <mat-card-title>Thanks for your purchase!!</mat-card-title>
                <mat-card-subtitle>Click on Print to download your bill</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>PRINT</button>
            </mat-card-actions>
        </div>
        <div class="details-container">
            <mat-card-header>
                <mat-card-title>Buying Detail:</mat-card-title>
                <mat-card-content>
                    <mat-list>
                        @for(product of productsData; track product){
                            <mat-list-item>
                                <span matListItemTitle>{{product.name}}</span>
                            </mat-list-item>
                            <mat-list-item>
                                <span matListItemLine>- {{product.description}}<br>${{product.price}}</span>
                            </mat-list-item>
                            <mat-list-item>
                                <span matListItemLine>Cantidad: {{product.cantidad}}</span>
                            </mat-list-item>
                        }
                    </mat-list>
                </mat-card-content>
            </mat-card-header>
        </div>
    </div>
</mat-card>
