<h3>My Store</h3>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> $100 </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let element">
            <img src="{{element.image}}" alt="imagen" width="100" height="100">
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="getRow(row)" tabindex="0"></tr>
</table>


