.personalData-container {
  display: flex;
  height: 100%; /* Ajustar la altura del contenedor principal al 100% del alto de la ventana del navegador */
  margin-left: 4vw;
}



.content-container {
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "form imagen"
    "location location"
    "boton boton";
  grid-gap: 1vw;
  margin-top: 1vw;

}

.location {
  grid-area: location;
  height: auto;
}
.botones {
  grid-area: location;
  margin-top: 2vw;
  justify-items: center;
  align-self: end; /* Alinea el botón en la parte inferior del grid-area */
  justify-self: end; /* Alinea el botón a la derecha dentro del grid-area */
}

.edit-information{
  margin-top: 1vw;
}

.titulo {

  grid-area: titulo;
}

.titulo-content {
  color: #092149;
  font-size: 2vw;
}



.input-container {
  margin-bottom: 20px;
  margin-top: 2vw;
  grid-area: form;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

label {
  margin-right: 10px;
}

input {
  flex: 1;
  border: none;
  outline: none;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  padding: 8px;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder {
  color: #999;
}

.img-editInfo {
  margin-left: 3vw;
  grid-area: imagen;
}

.button {

  padding: 10px 20px;
  background-color: #11B584;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right:auto;
  margin-left:1vw;

}

/* Para resoluciones de 1495x844 y superiores */
@media screen and (min-width: 1495px) {
  .personalData-container {
    margin-left: 4vw;
  }
}

/* Para resoluciones menores de 1495x844 */
@media screen and (max-width: 1495px) {
  .personalData-container {
    margin-left: 2vw; /* Ajusta el margen izquierdo para que sea más pequeño en pantallas más estrechas */
  }
}

