.personalData-container {
  display: flex;
  height: 100%; /* Ajustar la altura del contenedor principal al 100% del alto de la ventana del navegador */
}

.sidebar-container {
  width: 300px; /* Ancho del sidebar */
  background-color: #f0f0f0; /* Color de fondo del sidebar */
}

.content-container {
  flex: 1; /* El contenido principal ocupa todo el espacio restante */
  background-color: #ffffff; /* Color de fondo del contenido principal */
}


