<section class="personalData-container">
  <section class="content-container">
    <div class="titulo">
      <h1 class="titulo-content">Personal data</h1>
    </div>
    <div class="  edit-information">
      <div class="title">
        <h1>Information</h1>
      </div>
      <div class="input-container">
        <label for="nombre">Names *</label>
        <div class="input-wrapper">
          <input type="text" id="nombre" name="nombre" placeholder="Edit Nombre">
        </div>
      </div>

      <div class="input-container">
        <label for="apellido">Last Name *</label>
        <div class="input-wrapper">
          <input type="text" id="apellido" name="apellido" placeholder="Edit Last Name">
        </div>
      </div>

      <div class="input-container">
        <label for="telefono">Phone *</label>
        <div class="input-wrapper">
          <input type="tel" id="telefono" name="telefono" placeholder="Edit Phone">
        </div>
      </div>

      <div class="input-container">
        <label for="correo">Email *</label>
        <div class="input-wrapper">
          <input type="email" id="correo" name="correo" placeholder="Edit Email">
        </div>
      </div>

    </div>
    <div class="img-editInfo">
      <img class="img-edit" src="../../assets/images/user.png">
    </div>
    <div class="location">
      <h1 class="titulo-location">Location</h1>
      <p class="texto-location">This allows you to show stores near your location.</p>
      <p class="country">Country    Peru</p>
      <div>
        <div class="input-container">
          <label for="Address">Phone *</label>
          <div class="input-wrapper">
            <input type="add" id="Address" name="address" placeholder="Edit Address">
          </div>
        </div>

        <div class="input-container">
          <label for="City">City *</label>
          <div class="input-wrapper">
            <input type="city" id="city" name="correo" placeholder="Edit City">
          </div>
        </div>
      </div>
    </div>
    <div class="botones">
      <a href="/problems" class="button">NEXT</a>
      <a href="/home" class="button">SAVE</a>
    </div>



  </section>
</section>
