.main-container {
  display: flex;
  height: 100%; /* Ajustar la altura del contenedor principal al 100% del alto de la ventana del navegador */
}

.sidebar-container {
  width: 300px; /* Ancho del sidebar */
  background-color: #f0f0f0; /* Color de fondo del sidebar */
}

.content-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

