.sidebar-container {
  display: flex;
  align-items: center;
}

.app-sidebar {
  width: 200px; /* Ancho del sidebar */
  height: 100%; /* Altura del sidebar */
  background-color: #f0f0f0; /* Color de fondo del sidebar */
  padding: 20px; /* Espacio interior del sidebar */
}

.edit-link {
  margin-left: 20px; /* Espacio entre el sidebar y el enlace */
  text-decoration: none; /* Quitar subrayado del enlace */
  color: #333; /* Color del texto del enlace */
}
