
<mat-card class="example card" style="width: 400px; height:100px; margin-left: 150px; margin-top: 200px; " role="article">
  <div class="example-header-image">
    <img mat-card-image src="{{ fisio.imagen }}" alt="{{ fisio.nombre }} image" style="width: 100%">
  </div>
</mat-card>

<mat-card class="descripcion" style="width: 300px; margin-left: 560px; margin-top: -105px; border: none;">
  <h1 class="name-client">
    {{fisio.fullName}}
  </h1>
  <h1>{{fisio.edad}} años</h1>
  <h4>Biografía:</h4>
  <h4>{{fisio.biografia}}</h4>
</mat-card>

<!-- Línea vertical -->
<div style="border-left: 1px solid black; height: 500px; position: absolute; left: 1200px; top: 270px;"></div>

<mat-card class="ejemplo-card" style="width: 250px; margin-left: 940px; margin-top:-275px;">
  <mat-card-header>
    <h2>Available Schedule</h2>
  </mat-card-header>
  <mat-card-content style="margin-bottom: 60px;"> <!-- Ajuste aquí -->
      @for (time of fisio.horario; track time) {
          <button mat-button (click)="openDialog(time)" style="width:100px; height: 50px; margin-left:50px; margin-top: 20px; border: none; background-color: #A6C03A; border-radius: 20px;">
              <a>{{time["fecha"]}} - {{time["hora"]}}</a>
          </button>
      }
  </mat-card-content>
</mat-card>

