<div class="shopping-cart-header">
    <a href="/products" class="back-arrow"><i class="fas fa-arrow-left"></i></a>
    <span class="title">Shopping Cart</span>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> ${{ element.precio }} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="imagen">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let element">
            <img src="{{element.imagen}}" alt="imagen" width="100" height="100">
        </td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{ element.cantidad }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-flat-button color="primary" (click)="clearCart()">CLEAN</button>
<a href="products/paymentInformation" class="button-container">
    <button mat-flat-button color="primary">NEXT >></button>
</a>
