<header class="header">
  <div class="logo">
    <a href="/main"><img  src="../../assets/images/physiodesklogo.png" alt="PhysioDesk Logo"></a>
    <a href="/home"><h1  class="titulo">PhysioDesk</h1> <!-- Movido aquí --></a>
  </div>
  <nav class="nav">
    <ul>
      <li class="activeSessions">
        <img src="../../assets/images/activesessions.png" alt="ActiveSessions">
        <a href="/fisios">Fisioterapeutas</a></li>
      <li class="ergonomicZone">
        <img src="../../assets/images/ergonomiczone.png" alt="ErgonomicZone">
        <a href="/products">Ergonomic Zone</a></li>
      <li class="notifications">
        <img src="../../assets/images/notifications.png" alt="notifications">
        <a href="/notifications">Notifications</a></li>
      <li class="user">
        <img src="../../assets/images/user.png" alt="user">
        <a href="#">User</a></li>
    </ul>
  </nav>
</header>
