.sidenav-container {
  height: 100%;
}
.sidenav {
  background-color: #11B584;
  width: 250px;
  margin-right: auto;

}
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

}



.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.lista{
  color: #f0f0f0;
  display: flex;
  align-items: center;
  padding: 10px; /* Agrega espacio alrededor del texto e icono */
}
.lista:hover {
  background-color: #0D8D68; /* Nuevo color de fondo al hacer hover */
  color: #f0f0f0 !important;
}
.lista .material-icons{
  margin-right: 10px;
}
.name {
  color: #f0f0f0;
  text-align: center;
}


