<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" opened="false" class="sidenav">
    <div class="profile-section">
      <img src="../../assets/images/user.png" alt="Profile" class="profile-image">
      <h2 class="name">Tu Nombre</h2>
    </div>
    <mat-nav-list >
      <a class="lista" mat-list-item href="#"><span class="material-icons">home</span>Home</a>
      <a  class="lista" mat-list-item href="#"><span class="material-icons">accessibility_new</span>Activities</a>
      <a class="lista" mat-list-item href="#"><span class="material-icons">event</span>Appointments</a>
      <a  class="lista" mat-list-item href="#"><span class="material-icons">notifications</span>Notifications</a>
      <a  class="lista" mat-list-item href="#"><span class="material-icons">exit_to_app</span>Sign Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Tu contenido principal aquí -->
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
