<div class="shopping-cart-header">
    <a href="products/shoppingCart" class="back-arrow"><i class="fas fa-arrow-left"></i></a>
    <span class="title">Payment Information</span>
</div>

<div class="container">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Owner's Full Name</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Card Number</mat-label>
            <input type="number" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Expiration</mat-label>
            <input type="date" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>CVV</mat-label>
            <input type="number" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput  placeholder="Ex. pat@example.com">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Phone Number</mat-label>
            <input type="number" matInput>
        </mat-form-field>
    </form>
</div>


<a href="products/purchaseFinished" class="button-container">
    <button mat-flat-button color="primary">PAY >></button>
</a>
