<table mat-table  class="mat-elevation-z8 demo-table">
  <!-- Date Column -->
  <ng-container matColumnDef="demo-date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <!-- Physiotherapist Column -->
  <ng-container matColumnDef="demo-physiotherapist">
    <th mat-header-cell *matHeaderCellDef> Physiotherapist </th>
    <td mat-cell *matCellDef="let element"> {{element.physiotherapist}} </td>
  </ng-container>

  <!-- Duration Column -->
  <ng-container matColumnDef="demo-duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
  </ng-container>

  <!-- Link Column -->
  <ng-container matColumnDef="demo-link">
    <th mat-header-cell *matHeaderCellDef> Link </th>
    <td mat-cell *matCellDef="let element"> {{element.link}} </td>
  </ng-container>
</table>
