.shopping-cart-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Alinea el contenido horizontalmente al centro */
    position: relative; /* Permite posicionar absolutamente los elementos internos respecto a este contenedor */
    font-size: 24px;
    font-family: Arial, sans-serif;
    height: 50px; /* Ajusta según la altura deseada */
    width: 100%; /* Asume que deseas que el encabezado ocupe todo el ancho disponible */
}

.back-arrow {
    position: absolute; /* Posiciona la flecha de manera absoluta */
    left: 10px; /* Espacio desde el borde izquierdo del contenedor */
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;  /* Espacio entre la imagen y la tarjeta */
    padding: 20px;  /* Añade un poco de espacio alrededor del contenido */
}

.product-image {
    width: 40%;
    height: auto;
}

.product-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Distribuye el espacio verticalmente */
}

.mat-mdc-card-content p{
    font-size: 1rem;
    padding-top: 20px;
}

.mat-mdc-card-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mat-mdc-card-actions button {
    background-color: #A6C03A;
}

.large-button {
    padding: 12px 24px;
    font-size: 16px;
    min-width: 100px;
    height: 50px;
}
