<div class="shopping-cart-header">
    <a href="/products" class="back-arrow"><i class="fas fa-arrow-left"></i></a>
    <span class="title">Producto Seleccionado</span>
</div>

<div class="product-container">
    <img src="{{product.imageUrl}}" alt="product image" class="product-image">

    <mat-card class="product-card">
        <mat-card-header>
            <mat-card-title>{{ product.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Descripción: {{ product.description }}</p>
            <p>Rating: {{ product.rating }}</p>
            <p>Dimensiones: {{ product.dimensiones }}</p>
            <p>Color: {{ product.Colores }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" class="large-button" (click)="openDialog()" >ADD TO CART</button>
        </mat-card-actions>
    </mat-card>
</div>

