.user-id-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.user-id-card {
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

.register {
    margin-top: 10px;
}