<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" opened="false" class="sidenav">
    <div class="profile-section">
      <img src="../../assets/images/user.png" alt="Profile" class="profile-image">
      <h2 class="name">Tu Nombre</h2>
    </div>
    <mat-nav-list >
      <a class="lista" mat-list-item href="#">Home</a>
      <a  class="lista" mat-list-item href="/activities">Activities</a>
      <a class="lista" mat-list-item href="/appointments">Appointments</a>
      <a  class="lista" mat-list-item href="/config-notifications">Notifications</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Tu contenido principal aquí -->
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
