<header class="header">
  <div class="logo">
    <img src="../../assets/images/physiodesklogo.png" alt="PhysioDesk Logo">
    <h1 class="titulo">PhysioDesk</h1> <!-- Movido aquí -->
  </div>
  <nav class="nav">
    <ul>
      <li class="activeSessions">
        <img src="../../assets/images/activesessions.png" alt="ActiveSessions">
        <a href="#">Active sessions</a></li>
      <li class="ergonomicZone">
        <img src="../../assets/images/ergonomiczone.png" alt="ErgonomicZone">
        <a href="#">Ergonomic Zone</a></li>
      <li class="notifications">
        <img src="../../assets/images/notifications.png" alt="notifications">
        <a href="#">Notifications</a></li>
      <li class="user">
        <img src="../../assets/images/user.png" alt="user">
        <a href="#">User</a></li>
    </ul>
  </nav>
</header>
