<section class="problem-container">
  <section class="content-container">
    <div class="titulo">
      <h1 class="titulo-content">Problems</h1>
    </div>
    <div class="problem-content">
      <div class="problem">
        <h2 class="problem-title">Problem Registered</h2>
      </div>
      <div class="problem-nombres">
    <app-problem-muestra></app-problem-muestra>
      </div>
    </div>
    <div class="boton">
      <a href="/problemsEdit" class="button">Add Problem</a>
    </div>
  </section>
</section>
