.shopping-cart-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Alinea el contenido horizontalmente al centro */
    position: relative; /* Permite posicionar absolutamente los elementos internos respecto a este contenedor */
    font-size: 24px;
    font-family: Arial, sans-serif;
    height: 50px; /* Ajusta según la altura deseada */
    width: 100%; /* Asume que deseas que el encabezado ocupe todo el ancho disponible */
}

.back-arrow {
    position: absolute; /* Posiciona la flecha de manera absoluta */
    left: 10px; /* Espacio desde el borde izquierdo del contenedor */
    text-decoration: none;
    color: black;
    font-size: 30px;
}

a button {
    background-color: #A6C03A;
    padding: 12px 24px;
    font-size: 16px;
    min-width: 100px;
    height: 50px;
}

.button-container {
    margin-top: 30px;
    display: block;
    text-align: center;
}