.personalData-container {
  display: flex;
  justify-content: space-between; /* Ajusta el contenido a los extremos */
  margin-left: 4vw;
}

.content-container {
  display: grid;
  grid-template-areas: "titulo titulo"
                        "form imagen"
                        "location location"
                        "adress adress";
  grid-auto-rows: min-content; /* Ajusta automáticamente la altura de las filas según su contenido */
  width: 80%; /* Ancho del contenido */
}

.edit-information .title {
  font-size: 1.5vw;
}

.titulo {
  margin-top: 1vw;
  grid-area: titulo;
}

.titulo-content {
  color: #092149;
  font-size: 2.2vw;
}

.input-container {
  margin-bottom: 10px;
  margin-top: 2vw;
  grid-area: form;
}

label {
  margin-right: 10px;
  font-size: 120%;
  font-weight: bold;
}

input {
  flex: 1;
  border: none;
  outline: none;
}

.country {
  font-size: 120%;
  font-weight: bold;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="add"]::placeholder,
input[type="city"]::placeholder {
  color: #999;
}

.img-editInfo {
  margin-left: auto; /* Mueve la imagen al lado derecho */
  grid-area: imagen;
}

.img-editInfo img {
  max-width: 100%;
  height: auto;
}

.img-text {
  font-size: 200%;
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-content: center;
}

.location {
  grid-area: location;
}

.titulo-location {
  font-size: 220%;
}

.texto-location {
  font-size: 150%;
}

.location .location-container {
  background-color: #BDBDBD; /* Fondo gris claro */
  border-radius: 30px;
  padding: 0.1mm 5mm 0.1mm 5mm;
}


.botones {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  padding: 10px 50px; /* Ajusta el padding de los botones */
  background-color: #11B584;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px; /* Espacio entre botones */
}
